.Fieldset {
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.Fieldset-Left {
  font-size: 15px;
  border-color: #fff;
  border-top-style: inset !important;
  border-top-width: 1px !important;
}

.Fieldset-Right {
  border-top-width: 4px;
  border-top-style: double;
  border-top-color: #999;
  font-style: italic;
  padding: 15px 35px;
}

.Fieldset legend {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.Fieldset-Right legend {
  color: #3a4d63 !important;
}

.Legend-Center {
  text-align: center;
}
