@page {
  margin: 0;
}

html,
body {
  background: #fff;
  color: #333;
  font-family: Arial;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0 5px;
}

hr {
  border-color: #eae4e4;
  border-style: inherit;
  border-width: 1px;
}

a {
  color: #fff;
}

.wrapper {
  float: left;
  width: 100%;
  margin-bottom: 5px;
}

span.tag {
  /* background: #00cca1; */
  background: #00cc72;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  display: -webkit-inline-box;
  margin-top: 4px;
  margin-right: 4px;
}

span.tag i {
  padding-right: 4px;
}

.no-wrap {
  white-space: nowrap;
}
