.training {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.training__title--outer {
  display: flex;
}

.training__title {
  font-style: italic;
  padding: 0 0 10px 0;
}

.training__icon {
  padding: 1px 6px 0px 0px;
}

.training__details {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #eae4e4;
  padding: 0 2px;
}

.training__certificate {
  max-width: 313px;
  padding: 10px 0 0 0;
}

.training__certificate img {
  max-width: 313px;
}
